Hello,
<br/><br/>
 <%= name %> has indicated they know you and would like to send you email messages
via <a href="<%=website_public%>"><%=site_name%></a>.<br/><br/>

If you'd like to receive email from <%= name %>, please <a href="<%= opt_in %>">confirm receipt of this message</a><br/><br/>

Otherwise you may safely ignore or <a href="<%= opt_out_perm %>">opt out permanently</a> <br/><br/>

Enjoy your day!